<html>
  <head>

  </head>

<body style="background-color: blanchedalmond; font-family: Arial, Helvetica, sans-serif;">
    {{>myHeader}}
    <br>
      <h1>Error: 404</h1>
      <br>
      {{errorMessage}}
      <br>
  </body>

</html>