<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icons8-partly-cloudy-day-64">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
		{{>myHeader}}
	</header>
    
    <div class="container">

        <p>Enter a Location to Search:</p>

        <form>
            <input placeholder='Enter a location'>
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>

    </div>

    <footer>
		{{>myFooter}}
	</footer>

</body>

<script src="/js/page-script.js"></script>

</html>