@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Roboto+Slab&display=swap");

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

body {
	box-sizing: border-box;
	background-color: #243b53;
	font-family: "Roboto Slab", serif;
	color: aliceblue;
}

header {
	text-align: center;
	color: yellow;
	font-family: "Montserrat", sans-serif;
}

table {
	width: 100%;
	border: 2px white;
	/* border-collapse: collapse; */
}

th,td {
	padding: 15px;
	text-align: left;
}



footer {
	font-family: "Poppins", sans-serif;
	text-align: right;
	color: rgb(186, 236, 225);
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 1000%;
	height: 60px;
}